# dependencies
/node_modules

# builds/cache
/.next/
.next-kicklab/
.turbo/
dist/
build/

# static assets
static/
static/chunks/
/.next/static/

# env files
.env
.env*

# hot update artifacts
*.hot-update.js
*.hot-update.json

# logs
*.log

# misc
.DS_Store
*.pem

# deployment
.vercel/

# TypeScript helpers
*.tsbuildinfo
next-env.d.ts
